<h1>Dice</h1>
  <p>Let's roll!</p>
  
  <%
  die1 = rand(1..6)
  die2 = rand(1..6)
  total = die1 + die2
  %>
  
<p>
  <img src="/images/dice/<%=die1%>.svg" alt="">
  <img src="/images/dice/<%=die2%>.svg" alt="">
</p>

 <p>The total is <%=total%>
 
 </p> 

 <a href="/dice">Roll Again!</a>
  
 
